# Puerto del servidor
PORT=3000

# Seguridad
JWT_SECRET="reemplazar_con_un_secreto_seguro_para_jwt"

# URL de conexión a PostgreSQL (Prisma)
DATABASE_URL="postgresql://usuario:password@localhost:5432/catalogo_db?schema=public"

# URL Directa para migraciones si usas Supabase u otro proveedor con pooler (Opcional si usas local)
DIRECT_URL="postgresql://usuario:password@localhost:5432/catalogo_db?schema=public"

# Supabase Storage para subir imágenes
SUPABASE_URL="https://tu-proyecto.supabase.co"
SUPABASE_KEY="tu-anon-key-o-service-role-key"
