# Puerto del servidor
PORT=3000

# URL de conexión a PostgreSQL
DATABASE_URL="postgresql://usuario:password@localhost:5432/catalogo_db?schema=public"

# Supabase Storage (Fase 3)
# SUPABASE_URL="https://tu-proyecto.supabase.co"
# SUPABASE_KEY="tu-anon-key"
